// $bgColor: red !default;
// $bgHomeColor: blue;
// $bgAwardColor: green;
// $bgSeckillColor: lightblue;
$btnFocusColor: #4cf3e1;

#deviceready {
    box-sizing: border-box;
    position: relative;
    height: 720px;
    .page {
        position: absolute;
        overflow: hidden;
        .scroll-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
    .fullscreen {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .hide {
        display: none;
    }   
    .mask {
        background: rgba(0,0,0,0.7);
    }
    .fixed {
        position: fixed;
    }
    .center {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);
    }
    .coocaa_btn {
        border: 4px solid transparent;
        border-radius: 15px;
    }
    .coocaa_btn.btn-focus {
        border: 4px solid $btnFocusColor;
    }
    .btn {
        width: 200px;
        height: 100px;
    }
    ul {
        font-size: 0;
    }
}



