#deviceready {
    #rulesPage {
        overflow: auto;
        .scroll-wrapper {
            overflow: auto;
        }
        img {
            width: 100%;
            display: block;
        }
    }

}



