#deviceready {
    #toast {
        .content {
            width: 666px;
            height: 204px;
            background: url('../images/toast/bg.png') center/100% no-repeat;
            color: #874528;
            font-size: 28px;
            text-shadow: 2px 2px 2px #c65c17;
            text-align: center;
            .text {
                position: relative;
                width: 514px;
                height: 92px;
                line-height: 46px;
                font-weight: bold;
            }
    
        }
    }
}



