#deviceready {
    #toast {
        .content {
            position: absolute;
            top: 200px;
            left: 258px;
            width: 764px;
            height: 315px;
            background: url('../../../images/toast/bg.png') center/100% no-repeat;
            color: #fffd36;
            font-size: 28px;
            text-shadow: 2px 2px 2px #c65c17;
            text-align: center;
            .text {
                position: absolute;
                top: 105px;
                left: 118px;
                width: 532px;
                height: 110px;
                line-height: 110px;
                font-weight: 700;
            }
        }
    }
}



